<h1 style="text-align: center;">Edit your recipe</h1>
    <div  class="row" >
        <div class="col">
            <div class="card" style="padding: 20px;">
                <form [formGroup]="ingredientAddForm" (ngSubmit)="ingredientAddForm.valid && testSubmit()" autocomplete="off">
                    <div>
                        <strong>Ingredient:</strong><br>
                        <select
                        [class.is-invalid]='ingredientAddForm.get("ingredientId").errors && ingredientAddForm.get("ingredientId").touched'
                        name="Ingredient"
                        (change)="ChangeIgredient($event)"
                        formControlName="ingredientId"
                        >
                            <option [value]="i.id" *ngFor="let i of ingredients"> {{i.name}}</option>
                        </select>
                        <br><br>
                    </div>
                    <div class="amountt">
                        <strong>Amount:</strong><br>
                        <app-text-input  [formControl]='ingredientAddForm.controls["amount"]' [label]='"Amount"'></app-text-input>
                    </div>
                    <div>
                        <strong>Unit measure:</strong><br>
                        <select
                        [class.is-invalid]='ingredientAddForm.get("measure").errors && ingredientAddForm.get("measure").touched'
                        name="measure"
                        (change)="ChangeUnits($event)"
                        formControlName="measure"
                        >
                           <!--  <option *ngFor="let i of ingredients">
                                {{i.ingredientName}}
                            </option> -->
                            <option [value]="unit" *ngFor="let unit of units">  {{unit.toString()}}</option>
                        </select>
                        <br><br>
                    </div>
                    <br><br>
                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button [disabled]="!ingredientAddForm.valid" class="btn btn-primary" type="submit">Add ingredient to your recipe!</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>