<div class="row">
    <div *ngFor="let category of categories" class="row">
       <app-category-card [category]="category"></app-category-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;"
    lastText="&raquo;">

</pagination>
</div>